<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report and Dashboard Server Integration sample</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
